root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  args_bin = []
  bin = "./tmp/zentube"
  cmd = "templ generate && go build -o ./tmp/zentube ./cmd/zentube"
  delay = 1000
  exclude_dir = ["assets", "tmp", "vendor", "testdata", ".git"]
  exclude_file = []
  exclude_regex = ["_test\\.go$", "_templ\\.go$"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = "./tmp/zentube"
  include_dir = []
  include_ext = ["go", "templ", "yaml", "yml"]
  include_file = []
  kill_delay = "500ms"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = true

[misc]
  clean_on_exit = true

[screen]
  clear_on_rebuild = true
  keep_scroll = true
