package pages

import (
	"github.com/uiansol/zentube/internal/entities"
	"github.com/uiansol/zentube/web/templates/components"
	"github.com/uiansol/zentube/web/templates/layouts"
)

templ HomePage(query string, videos []entities.Video) {
	@layouts.Layout("zentube – YouTube Search") {
		<h1>zentube</h1>
		@components.SearchForm(query)
		@components.VideoPlayer()
		@components.SearchResults(videos)
	}
}
